body {
	font-family: "Sabon", "SabonGreek";
	font-size:12pt;
	text-align:center;
	margin-left:1cm;
}

h1 {
	color:#0066FF;
	text-align:left;
}

h5 {
	font-size: 22px;
	color:black;
}

h6 {
	font-size: 20px;
	color:black;
}

h6 {
	font-size: 18px;
	color:black;
}

#smallheader {
	color:#0066FF;
}

#moviebox {
	padding:10px;
	border-style:solid;
	border-width:2px;
	border-radius:25px;
	box-shadow: 5px 5px 5px #888888;
	background-color:#0066FF;
	color:white;
}

#loginbar {
	float:left;
	padding-top:3px;
	padding-left:5px;
	padding-right:5px;
}

#descriptor {
	float:left;
	padding-top:7px;
}

#loginbutton {
	float:left;
	padding-top:-8px;
}

select {
	font-size: 1.1em; /* Size of the text */
	height: 41px; /* The height you want the <select> to be */
	padding-top: 7px; /* how far from the top you want the text to appear */
	text-align:center;
}
